@import "brack-point";
@import "colors";
.btn {
  background: $gray;
  color: $white;
  font-size: 18px;
  font-family: "A-OTF 中ゴシックBBB Pr6N";
  border-radius: 50px;
  padding: 27px 3em;
  display: inline-block;
  &:visited {
    color: $white;
  }
}
.btn-orange {
  background: $orange-100;
  transition: 0.2s;
  &:hover {
    background: $orange-500;
  }
}
@media screen and (max-width: $brack-point-sp-l) {
  .btn {
    font-size: 15px;
  }
}
@media screen and (max-width: $brack-point-sp) {
  .btn {
    padding: 1.5em 3em;
  }
}
